doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//code.jquery.com/jquery-1.11.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/chat.js')
	body
		div(id='board' style='width: 300px; height: 200px; border: solid 2px black;')
		br
		input(id='content' type='text')
		input(id='submit' type='button' value='submit!')
